.event {
  background-color: #ffdd57;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 5px;
}
